body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

* {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0c916f;
}

.description {
    font-size: 18px;
    background: white;
    padding: 6%;
}
